@import "tailwindcss";

body {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1440px;
  margin: auto;
  font-family: "Inter", sans-serif;
}

@media (min-width: 768px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
